include ../module__top-slider/module__top-slider
include ../module__scroll-down/module__scroll-down
include ../module__top-content/module__top-content

mixin module__top(data)
  - var bemClass = 'module__top'
  section.module__top&attributes(attributes).jsHeight

    if data.topSlider
      +module__top-slider()

    else if data.contacts
      +module__top-content-2()
    
    else
      +module__top-content()
    
    +module__scroll-down()
    