$close = 612px 612px
$down = 306px 306px
$email = 512px 512px
$facebook = 470px 470px
$flickr = 90px 90px
$google = 512px 512px
$instagram = 512px 512px
$left = 306px 306px
$linkedin = 512px 512px
$logo = 207px 133px
$pinterest = 512px 512px
$plus = 357px 357px
$right = 306px 306px
$skype = 512px 512px
$twitter = 512px 512px
$vimeo = 512px 512px


.icons-sprite
	border 0 !important
	clip rect(0 0 0 0) !important
	height 1px !important
	margin -1px !important
	overflow hidden !important
	padding 0 !important
	position absolute !important
	width 1px !important


svgSize($icon)
	width $icon[0]
	height $icon[1]


// Default icons sizes
.icon
	// Add coment for normal stylus compilation
	// https://github.com/zoxon/gulp-front/issues/22
	
	&_close
		width 612px
		height 612px
	
	&_down
		width 306px
		height 306px
	
	&_email
		width 512px
		height 512px
	
	&_facebook
		width 470px
		height 470px
	
	&_flickr
		width 90px
		height 90px
	
	&_google
		width 512px
		height 512px
	
	&_instagram
		width 512px
		height 512px
	
	&_left
		width 306px
		height 306px
	
	&_linkedin
		width 512px
		height 512px
	
	&_logo
		width 207px
		height 133px
	
	&_pinterest
		width 512px
		height 512px
	
	&_plus
		width 357px
		height 357px
	
	&_right
		width 306px
		height 306px
	
	&_skype
		width 512px
		height 512px
	
	&_twitter
		width 512px
		height 512px
	
	&_vimeo
		width 512px
		height 512px
	