/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$aadv_name = 'aadv';
$aadv_x = 627px;
$aadv_y = 336px;
$aadv_offset_x = -627px;
$aadv_offset_y = -336px;
$aadv_width = 44px;
$aadv_height = 32px;
$aadv_total_width = 671px;
$aadv_total_height = 625px;
$aadv_image = '../images/sprite.png';
$aadv = 627px 336px -627px -336px 44px 32px 671px 625px '../images/sprite.png' 'aadv';
$ab_name = 'ab';
$ab_x = 627px;
$ab_y = 176px;
$ab_offset_x = -627px;
$ab_offset_y = -176px;
$ab_width = 44px;
$ab_height = 32px;
$ab_total_width = 671px;
$ab_total_height = 625px;
$ab_image = '../images/sprite.png';
$ab = 627px 176px -627px -176px 44px 32px 671px 625px '../images/sprite.png' 'ab';
$adv_name = 'adv';
$adv_x = 627px;
$adv_y = 536px;
$adv_offset_x = -627px;
$adv_offset_y = -536px;
$adv_width = 32px;
$adv_height = 32px;
$adv_total_width = 671px;
$adv_total_height = 625px;
$adv_image = '../images/sprite.png';
$adv = 627px 536px -627px -536px 32px 32px 671px 625px '../images/sprite.png' 'adv';
$adv2_name = 'adv2';
$adv2_x = 331px;
$adv2_y = 539px;
$adv2_offset_x = -331px;
$adv2_offset_y = -539px;
$adv2_width = 56px;
$adv2_height = 38px;
$adv2_total_width = 671px;
$adv2_total_height = 625px;
$adv2_image = '../images/sprite.png';
$adv2 = 331px 539px -331px -539px 56px 38px 671px 625px '../images/sprite.png' 'adv2';
$anx_name = 'anx';
$anx_x = 627px;
$anx_y = 296px;
$anx_offset_x = -627px;
$anx_offset_y = -296px;
$anx_width = 44px;
$anx_height = 32px;
$anx_total_width = 671px;
$anx_total_height = 625px;
$anx_image = '../images/sprite.png';
$anx = 627px 296px -627px -296px 44px 32px 671px 625px '../images/sprite.png' 'anx';
$ap_name = 'ap';
$ap_x = 627px;
$ap_y = 256px;
$ap_offset_x = -627px;
$ap_offset_y = -256px;
$ap_width = 44px;
$ap_height = 32px;
$ap_total_width = 671px;
$ap_total_height = 625px;
$ap_image = '../images/sprite.png';
$ap = 627px 256px -627px -256px 44px 32px 671px 625px '../images/sprite.png' 'ap';
$apm_name = 'apm';
$apm_x = 627px;
$apm_y = 216px;
$apm_offset_x = -627px;
$apm_offset_y = -216px;
$apm_width = 44px;
$apm_height = 32px;
$apm_total_width = 671px;
$apm_total_height = 625px;
$apm_image = '../images/sprite.png';
$apm = 627px 216px -627px -216px 44px 32px 671px 625px '../images/sprite.png' 'apm';
$b2_name = 'b2';
$b2_x = 203px;
$b2_y = 539px;
$b2_offset_x = -203px;
$b2_offset_y = -539px;
$b2_width = 56px;
$b2_height = 38px;
$b2_total_width = 671px;
$b2_total_height = 625px;
$b2_image = '../images/sprite.png';
$b2 = 203px 539px -203px -539px 56px 38px 671px 625px '../images/sprite.png' 'b2';
$bit_name = 'bit';
$bit_x = 475px;
$bit_y = 539px;
$bit_offset_x = -475px;
$bit_offset_y = -539px;
$bit_width = 32px;
$bit_height = 32px;
$bit_total_width = 671px;
$bit_total_height = 625px;
$bit_image = '../images/sprite.png';
$bit = 475px 539px -475px -539px 32px 32px 671px 625px '../images/sprite.png' 'bit';
$c1_name = 'c1';
$c1_x = 532px;
$c1_y = 389px;
$c1_offset_x = -532px;
$c1_offset_y = -389px;
$c1_width = 27px;
$c1_height = 26px;
$c1_total_width = 671px;
$c1_total_height = 625px;
$c1_image = '../images/sprite.png';
$c1 = 532px 389px -532px -389px 27px 26px 671px 625px '../images/sprite.png' 'c1';
$c2_name = 'c2';
$c2_x = 120px;
$c2_y = 593px;
$c2_offset_x = -120px;
$c2_offset_y = -593px;
$c2_width = 27px;
$c2_height = 25px;
$c2_total_width = 671px;
$c2_total_height = 625px;
$c2_image = '../images/sprite.png';
$c2 = 120px 593px -120px -593px 27px 25px 671px 625px '../images/sprite.png' 'c2';
$c3_name = 'c3';
$c3_x = 567px;
$c3_y = 389px;
$c3_offset_x = -567px;
$c3_offset_y = -389px;
$c3_width = 28px;
$c3_height = 25px;
$c3_total_width = 671px;
$c3_total_height = 625px;
$c3_image = '../images/sprite.png';
$c3 = 567px 389px -567px -389px 28px 25px 671px 625px '../images/sprite.png' 'c3';
$c4_name = 'c4';
$c4_x = 496px;
$c4_y = 389px;
$c4_offset_x = -496px;
$c4_offset_y = -389px;
$c4_width = 28px;
$c4_height = 29px;
$c4_total_width = 671px;
$c4_total_height = 625px;
$c4_image = '../images/sprite.png';
$c4 = 496px 389px -496px -389px 28px 29px 671px 625px '../images/sprite.png' 'c4';
$c5_name = 'c5';
$c5_x = 529px;
$c5_y = 249px;
$c5_offset_x = -529px;
$c5_offset_y = -249px;
$c5_width = 28px;
$c5_height = 30px;
$c5_total_width = 671px;
$c5_total_height = 625px;
$c5_image = '../images/sprite.png';
$c5 = 529px 249px -529px -249px 28px 30px 671px 625px '../images/sprite.png' 'c5';
$checked_name = 'checked';
$checked_x = 627px;
$checked_y = 576px;
$checked_offset_x = -627px;
$checked_offset_y = -576px;
$checked_width = 10px;
$checked_height = 7px;
$checked_total_width = 671px;
$checked_total_height = 625px;
$checked_image = '../images/sprite.png';
$checked = 627px 576px -627px -576px 10px 7px 671px 625px '../images/sprite.png' 'checked';
$close_name = 'close';
$close_x = 593px;
$close_y = 254px;
$close_offset_x = -593px;
$close_offset_y = -254px;
$close_width = 24px;
$close_height = 24px;
$close_total_width = 671px;
$close_total_height = 625px;
$close_image = '../images/sprite.png';
$close = 593px 254px -593px -254px 24px 24px 671px 625px '../images/sprite.png' 'close';
$de_name = 'de';
$de_x = 227px;
$de_y = 463px;
$de_offset_x = -227px;
$de_offset_y = -463px;
$de_width = 67px;
$de_height = 46px;
$de_total_width = 671px;
$de_total_height = 625px;
$de_image = '../images/sprite.png';
$de = 227px 463px -227px -463px 67px 46px 671px 625px '../images/sprite.png' 'de';
$de2_name = 'de2';
$de2_x = 377px;
$de2_y = 463px;
$de2_offset_x = -377px;
$de2_offset_y = -463px;
$de2_width = 67px;
$de2_height = 46px;
$de2_total_width = 671px;
$de2_total_height = 625px;
$de2_image = '../images/sprite.png';
$de2 = 377px 463px -377px -463px 67px 46px 671px 625px '../images/sprite.png' 'de2';
$en_name = 'en';
$en_x = 302px;
$en_y = 463px;
$en_offset_x = -302px;
$en_offset_y = -463px;
$en_width = 67px;
$en_height = 46px;
$en_total_width = 671px;
$en_total_height = 625px;
$en_image = '../images/sprite.png';
$en = 302px 463px -302px -463px 67px 46px 671px 625px '../images/sprite.png' 'en';
$en2_name = 'en2';
$en2_x = 527px;
$en2_y = 463px;
$en2_offset_x = -527px;
$en2_offset_y = -463px;
$en2_width = 67px;
$en2_height = 46px;
$en2_total_width = 671px;
$en2_total_height = 625px;
$en2_image = '../images/sprite.png';
$en2 = 527px 463px -527px -463px 67px 46px 671px 625px '../images/sprite.png' 'en2';
$env_name = 'env';
$env_x = 593px;
$env_y = 316px;
$env_offset_x = -593px;
$env_offset_y = -316px;
$env_width = 16px;
$env_height = 16px;
$env_total_width = 671px;
$env_total_height = 625px;
$env_image = '../images/sprite.png';
$env = 593px 316px -593px -316px 16px 16px 671px 625px '../images/sprite.png' 'env';
$fb_name = 'fb';
$fb_x = 515px;
$fb_y = 539px;
$fb_offset_x = -515px;
$fb_offset_y = -539px;
$fb_width = 32px;
$fb_height = 32px;
$fb_total_width = 671px;
$fb_total_height = 625px;
$fb_image = '../images/sprite.png';
$fb = 515px 539px -515px -539px 32px 32px 671px 625px '../images/sprite.png' 'fb';
$fbreg_name = 'fbreg';
$fbreg_x = 0px;
$fbreg_y = 593px;
$fbreg_offset_x = 0px;
$fbreg_offset_y = -593px;
$fbreg_width = 32px;
$fbreg_height = 32px;
$fbreg_total_width = 671px;
$fbreg_total_height = 625px;
$fbreg_image = '../images/sprite.png';
$fbreg = 0px 593px 0px -593px 32px 32px 671px 625px '../images/sprite.png' 'fbreg';
$footer_name = 'footer';
$footer_x = 0px;
$footer_y = 189px;
$footer_offset_x = 0px;
$footer_offset_y = -189px;
$footer_width = 337px;
$footer_height = 94px;
$footer_total_width = 671px;
$footer_total_height = 625px;
$footer_image = '../images/sprite.png';
$footer = 0px 189px 0px -189px 337px 94px 671px 625px '../images/sprite.png' 'footer';
$icon_name = 'icon';
$icon_x = 84px;
$icon_y = 389px;
$icon_offset_x = -84px;
$icon_offset_y = -389px;
$icon_width = 78px;
$icon_height = 46px;
$icon_total_width = 671px;
$icon_total_height = 625px;
$icon_image = '../images/sprite.png';
$icon = 84px 389px -84px -389px 78px 46px 671px 625px '../images/sprite.png' 'icon';
$icon2_name = 'icon2';
$icon2_x = 248px;
$icon2_y = 102px;
$icon2_offset_x = -248px;
$icon2_offset_y = -102px;
$icon2_width = 93px;
$icon2_height = 66px;
$icon2_total_width = 671px;
$icon2_total_height = 625px;
$icon2_image = '../images/sprite.png';
$icon2 = 248px 102px -248px -102px 93px 66px 671px 625px '../images/sprite.png' 'icon2';
$icon3_name = 'icon3';
$icon3_x = 627px;
$icon3_y = 116px;
$icon3_offset_x = -627px;
$icon3_offset_y = -116px;
$icon3_width = 37px;
$icon3_height = 52px;
$icon3_total_width = 671px;
$icon3_total_height = 625px;
$icon3_image = '../images/sprite.png';
$icon3 = 627px 116px -627px -116px 37px 52px 671px 625px '../images/sprite.png' 'icon3';
$icon4_name = 'icon4';
$icon4_x = 627px;
$icon4_y = 56px;
$icon4_offset_x = -627px;
$icon4_offset_y = -56px;
$icon4_width = 38px;
$icon4_height = 52px;
$icon4_total_width = 671px;
$icon4_total_height = 625px;
$icon4_image = '../images/sprite.png';
$icon4 = 627px 56px -627px -56px 38px 52px 671px 625px '../images/sprite.png' 'icon4';
$icon5_name = 'icon5';
$icon5_x = 529px;
$icon5_y = 189px;
$icon5_offset_x = -529px;
$icon5_offset_y = -189px;
$icon5_width = 52px;
$icon5_height = 52px;
$icon5_total_width = 671px;
$icon5_total_height = 625px;
$icon5_image = '../images/sprite.png';
$icon5 = 529px 189px -529px -189px 52px 52px 671px 625px '../images/sprite.png' 'icon5';
$logo_name = 'logo';
$logo_x = 248px;
$logo_y = 0px;
$logo_offset_x = -248px;
$logo_offset_y = 0px;
$logo_width = 337px;
$logo_height = 94px;
$logo_total_width = 671px;
$logo_total_height = 625px;
$logo_image = '../images/sprite.png';
$logo = 248px 0px -248px 0px 337px 94px 671px 625px '../images/sprite.png' 'logo';
$nix_name = 'nix';
$nix_x = 555px;
$nix_y = 539px;
$nix_offset_x = -555px;
$nix_offset_y = -539px;
$nix_width = 32px;
$nix_height = 32px;
$nix_total_width = 671px;
$nix_total_height = 625px;
$nix_image = '../images/sprite.png';
$nix = 555px 539px -555px -539px 32px 32px 671px 625px '../images/sprite.png' 'nix';
$nix2_name = 'nix2';
$nix2_x = 75px;
$nix2_y = 539px;
$nix2_offset_x = -75px;
$nix2_offset_y = -539px;
$nix2_width = 56px;
$nix2_height = 38px;
$nix2_total_width = 671px;
$nix2_total_height = 625px;
$nix2_image = '../images/sprite.png';
$nix2 = 75px 539px -75px -539px 56px 38px 671px 625px '../images/sprite.png' 'nix2';
$object_name = 'object';
$object_x = 0px;
$object_y = 0px;
$object_offset_x = 0px;
$object_offset_y = 0px;
$object_width = 240px;
$object_height = 181px;
$object_total_width = 671px;
$object_total_height = 625px;
$object_image = '../images/sprite.png';
$object = 0px 0px 0px 0px 240px 181px 671px 625px '../images/sprite.png' 'object';
$od_name = 'od';
$od_x = 627px;
$od_y = 376px;
$od_offset_x = -627px;
$od_offset_y = -376px;
$od_width = 32px;
$od_height = 32px;
$od_total_width = 671px;
$od_total_height = 625px;
$od_image = '../images/sprite.png';
$od = 627px 376px -627px -376px 32px 32px 671px 625px '../images/sprite.png' 'od';
$odreg_name = 'odreg';
$odreg_x = 80px;
$odreg_y = 593px;
$odreg_offset_x = -80px;
$odreg_offset_y = -593px;
$odreg_width = 32px;
$odreg_height = 32px;
$odreg_total_width = 671px;
$odreg_total_height = 625px;
$odreg_image = '../images/sprite.png';
$odreg = 80px 593px -80px -593px 32px 32px 671px 625px '../images/sprite.png' 'odreg';
$p_name = 'p';
$p_x = 627px;
$p_y = 456px;
$p_offset_x = -627px;
$p_offset_y = -456px;
$p_width = 32px;
$p_height = 32px;
$p_total_width = 671px;
$p_total_height = 625px;
$p_image = '../images/sprite.png';
$p = 627px 456px -627px -456px 32px 32px 671px 625px '../images/sprite.png' 'p';
$p2_name = 'p2';
$p2_x = 267px;
$p2_y = 539px;
$p2_offset_x = -267px;
$p2_offset_y = -539px;
$p2_width = 56px;
$p2_height = 38px;
$p2_total_width = 671px;
$p2_total_height = 625px;
$p2_image = '../images/sprite.png';
$p2 = 267px 539px -267px -539px 56px 38px 671px 625px '../images/sprite.png' 'p2';
$partners_name = 'partners';
$partners_x = 627px;
$partners_y = 0px;
$partners_offset_x = -627px;
$partners_offset_y = 0px;
$partners_width = 44px;
$partners_height = 48px;
$partners_total_width = 671px;
$partners_total_height = 625px;
$partners_image = '../images/sprite.png';
$partners = 627px 0px -627px 0px 44px 48px 671px 625px '../images/sprite.png' 'partners';
$per_name = 'per';
$per_x = 593px;
$per_y = 0px;
$per_offset_x = -593px;
$per_offset_y = 0px;
$per_width = 26px;
$per_height = 246px;
$per_total_width = 671px;
$per_total_height = 625px;
$per_image = '../images/sprite.png';
$per = 593px 0px -593px 0px 26px 246px 671px 625px '../images/sprite.png' 'per';
$pm_name = 'pm';
$pm_x = 435px;
$pm_y = 539px;
$pm_offset_x = -435px;
$pm_offset_y = -539px;
$pm_width = 32px;
$pm_height = 32px;
$pm_total_width = 671px;
$pm_total_height = 625px;
$pm_image = '../images/sprite.png';
$pm = 435px 539px -435px -539px 32px 32px 671px 625px '../images/sprite.png' 'pm';
$pm2_name = 'pm2';
$pm2_x = 139px;
$pm2_y = 539px;
$pm2_offset_x = -139px;
$pm2_offset_y = -539px;
$pm2_width = 56px;
$pm2_height = 38px;
$pm2_total_width = 671px;
$pm2_total_height = 625px;
$pm2_image = '../images/sprite.png';
$pm2 = 139px 539px -139px -539px 56px 38px 671px 625px '../images/sprite.png' 'pm2';
$promo1_name = 'promo1';
$promo1_x = 0px;
$promo1_y = 463px;
$promo1_offset_x = 0px;
$promo1_offset_y = -463px;
$promo1_width = 68px;
$promo1_height = 68px;
$promo1_total_width = 671px;
$promo1_total_height = 625px;
$promo1_image = '../images/sprite.png';
$promo1 = 0px 463px 0px -463px 68px 68px 671px 625px '../images/sprite.png' 'promo1';
$promo2_name = 'promo2';
$promo2_x = 76px;
$promo2_y = 463px;
$promo2_offset_x = -76px;
$promo2_offset_y = -463px;
$promo2_width = 68px;
$promo2_height = 67px;
$promo2_total_width = 671px;
$promo2_total_height = 625px;
$promo2_image = '../images/sprite.png';
$promo2 = 76px 463px -76px -463px 68px 67px 671px 625px '../images/sprite.png' 'promo2';
$protect1_name = 'protect1';
$protect1_x = 289px;
$protect1_y = 389px;
$protect1_offset_x = -289px;
$protect1_offset_y = -389px;
$protect1_width = 98px;
$protect1_height = 31px;
$protect1_total_width = 671px;
$protect1_total_height = 625px;
$protect1_image = '../images/sprite.png';
$protect1 = 289px 389px -289px -389px 98px 31px 671px 625px '../images/sprite.png' 'protect1';
$protect2_name = 'protect2';
$protect2_x = 170px;
$protect2_y = 389px;
$protect2_offset_x = -170px;
$protect2_offset_y = -389px;
$protect2_width = 111px;
$protect2_height = 31px;
$protect2_total_width = 671px;
$protect2_total_height = 625px;
$protect2_image = '../images/sprite.png';
$protect2 = 170px 389px -170px -389px 111px 31px 671px 625px '../images/sprite.png' 'protect2';
$protect3_name = 'protect3';
$protect3_x = 395px;
$protect3_y = 389px;
$protect3_offset_x = -395px;
$protect3_offset_y = -389px;
$protect3_width = 93px;
$protect3_height = 31px;
$protect3_total_width = 671px;
$protect3_total_height = 625px;
$protect3_image = '../images/sprite.png';
$protect3 = 395px 389px -395px -389px 93px 31px 671px 625px '../images/sprite.png' 'protect3';
$ref1_name = 'ref1';
$ref1_x = 184px;
$ref1_y = 291px;
$ref1_offset_x = -184px;
$ref1_offset_y = -291px;
$ref1_width = 84px;
$ref1_height = 89px;
$ref1_total_width = 671px;
$ref1_total_height = 625px;
$ref1_image = '../images/sprite.png';
$ref1 = 184px 291px -184px -291px 84px 89px 671px 625px '../images/sprite.png' 'ref1';
$ref10_name = 'ref10';
$ref10_x = 92px;
$ref10_y = 291px;
$ref10_offset_x = -92px;
$ref10_offset_y = -291px;
$ref10_width = 84px;
$ref10_height = 89px;
$ref10_total_width = 671px;
$ref10_total_height = 625px;
$ref10_image = '../images/sprite.png';
$ref10 = 92px 291px -92px -291px 84px 89px 671px 625px '../images/sprite.png' 'ref10';
$ref11_name = 'ref11';
$ref11_x = 345px;
$ref11_y = 189px;
$ref11_offset_x = -345px;
$ref11_offset_y = -189px;
$ref11_width = 84px;
$ref11_height = 90px;
$ref11_total_width = 671px;
$ref11_total_height = 625px;
$ref11_image = '../images/sprite.png';
$ref11 = 345px 189px -345px -189px 84px 90px 671px 625px '../images/sprite.png' 'ref11';
$ref2_name = 'ref2';
$ref2_x = 276px;
$ref2_y = 291px;
$ref2_offset_x = -276px;
$ref2_offset_y = -291px;
$ref2_width = 84px;
$ref2_height = 89px;
$ref2_total_width = 671px;
$ref2_total_height = 625px;
$ref2_image = '../images/sprite.png';
$ref2 = 276px 291px -276px -291px 84px 89px 671px 625px '../images/sprite.png' 'ref2';
$ref3_name = 'ref3';
$ref3_x = 437px;
$ref3_y = 189px;
$ref3_offset_x = -437px;
$ref3_offset_y = -189px;
$ref3_width = 84px;
$ref3_height = 90px;
$ref3_total_width = 671px;
$ref3_total_height = 625px;
$ref3_image = '../images/sprite.png';
$ref3 = 437px 189px -437px -189px 84px 90px 671px 625px '../images/sprite.png' 'ref3';
$ref4_name = 'ref4';
$ref4_x = 0px;
$ref4_y = 291px;
$ref4_offset_x = 0px;
$ref4_offset_y = -291px;
$ref4_width = 84px;
$ref4_height = 90px;
$ref4_total_width = 671px;
$ref4_total_height = 625px;
$ref4_image = '../images/sprite.png';
$ref4 = 0px 291px 0px -291px 84px 90px 671px 625px '../images/sprite.png' 'ref4';
$ref8_name = 'ref8';
$ref8_x = 368px;
$ref8_y = 291px;
$ref8_offset_x = -368px;
$ref8_offset_y = -291px;
$ref8_width = 84px;
$ref8_height = 89px;
$ref8_total_width = 671px;
$ref8_total_height = 625px;
$ref8_image = '../images/sprite.png';
$ref8 = 368px 291px -368px -291px 84px 89px 671px 625px '../images/sprite.png' 'ref8';
$right_name = 'right';
$right_x = 593px;
$right_y = 286px;
$right_offset_x = -593px;
$right_offset_y = -286px;
$right_width = 19px;
$right_height = 22px;
$right_total_width = 671px;
$right_total_height = 625px;
$right_image = '../images/sprite.png';
$right = 593px 286px -593px -286px 19px 22px 671px 625px '../images/sprite.png' 'right';
$ru_name = 'ru';
$ru_x = 517px;
$ru_y = 102px;
$ru_offset_x = -517px;
$ru_offset_y = -102px;
$ru_width = 68px;
$ru_height = 46px;
$ru_total_width = 671px;
$ru_total_height = 625px;
$ru_image = '../images/sprite.png';
$ru = 517px 102px -517px -102px 68px 46px 671px 625px '../images/sprite.png' 'ru';
$ru2_name = 'ru2';
$ru2_x = 452px;
$ru2_y = 463px;
$ru2_offset_x = -452px;
$ru2_offset_y = -463px;
$ru2_width = 67px;
$ru2_height = 46px;
$ru2_total_width = 671px;
$ru2_total_height = 625px;
$ru2_image = '../images/sprite.png';
$ru2 = 452px 463px -452px -463px 67px 46px 671px 625px '../images/sprite.png' 'ru2';
$skype_name = 'skype';
$skype_x = 593px;
$skype_y = 340px;
$skype_offset_x = -593px;
$skype_offset_y = -340px;
$skype_width = 16px;
$skype_height = 14px;
$skype_total_width = 671px;
$skype_total_height = 625px;
$skype_image = '../images/sprite.png';
$skype = 593px 340px -593px -340px 16px 14px 671px 625px '../images/sprite.png' 'skype';
$sp_name = 'sp';
$sp_x = 0px;
$sp_y = 539px;
$sp_offset_x = 0px;
$sp_offset_y = -539px;
$sp_width = 67px;
$sp_height = 46px;
$sp_total_width = 671px;
$sp_total_height = 625px;
$sp_image = '../images/sprite.png';
$sp = 0px 539px 0px -539px 67px 46px 671px 625px '../images/sprite.png' 'sp';
$sp2_name = 'sp2';
$sp2_x = 152px;
$sp2_y = 463px;
$sp2_offset_x = -152px;
$sp2_offset_y = -463px;
$sp2_width = 67px;
$sp2_height = 46px;
$sp2_total_width = 671px;
$sp2_total_height = 625px;
$sp2_image = '../images/sprite.png';
$sp2 = 152px 463px -152px -463px 67px 46px 671px 625px '../images/sprite.png' 'sp2';
$tab1_name = 'tab1';
$tab1_x = 460px;
$tab1_y = 291px;
$tab1_offset_x = -460px;
$tab1_offset_y = -291px;
$tab1_width = 76px;
$tab1_height = 66px;
$tab1_total_width = 671px;
$tab1_total_height = 625px;
$tab1_image = '../images/sprite.png';
$tab1 = 460px 291px -460px -291px 76px 66px 671px 625px '../images/sprite.png' 'tab1';
$tab2_name = 'tab2';
$tab2_x = 0px;
$tab2_y = 389px;
$tab2_offset_x = 0px;
$tab2_offset_y = -389px;
$tab2_width = 76px;
$tab2_height = 66px;
$tab2_total_width = 671px;
$tab2_total_height = 625px;
$tab2_image = '../images/sprite.png';
$tab2 = 0px 389px 0px -389px 76px 66px 671px 625px '../images/sprite.png' 'tab2';
$tab3_name = 'tab3';
$tab3_x = 349px;
$tab3_y = 102px;
$tab3_offset_x = -349px;
$tab3_offset_y = -102px;
$tab3_width = 76px;
$tab3_height = 66px;
$tab3_total_width = 671px;
$tab3_total_height = 625px;
$tab3_image = '../images/sprite.png';
$tab3 = 349px 102px -349px -102px 76px 66px 671px 625px '../images/sprite.png' 'tab3';
$tab4_name = 'tab4';
$tab4_x = 433px;
$tab4_y = 102px;
$tab4_offset_x = -433px;
$tab4_offset_y = -102px;
$tab4_width = 76px;
$tab4_height = 66px;
$tab4_total_width = 671px;
$tab4_total_height = 625px;
$tab4_image = '../images/sprite.png';
$tab4 = 433px 102px -433px -102px 76px 66px 671px 625px '../images/sprite.png' 'tab4';
$triangle_name = 'triangle';
$triangle_x = 544px;
$triangle_y = 291px;
$triangle_offset_x = -544px;
$triangle_offset_y = -291px;
$triangle_width = 34px;
$triangle_height = 66px;
$triangle_total_width = 671px;
$triangle_total_height = 625px;
$triangle_image = '../images/sprite.png';
$triangle = 544px 291px -544px -291px 34px 66px 671px 625px '../images/sprite.png' 'triangle';
$vk_name = 'vk';
$vk_x = 627px;
$vk_y = 496px;
$vk_offset_x = -627px;
$vk_offset_y = -496px;
$vk_width = 32px;
$vk_height = 32px;
$vk_total_width = 671px;
$vk_total_height = 625px;
$vk_image = '../images/sprite.png';
$vk = 627px 496px -627px -496px 32px 32px 671px 625px '../images/sprite.png' 'vk';
$vkreg_name = 'vkreg';
$vkreg_x = 627px;
$vkreg_y = 416px;
$vkreg_offset_x = -627px;
$vkreg_offset_y = -416px;
$vkreg_width = 32px;
$vkreg_height = 32px;
$vkreg_total_width = 671px;
$vkreg_total_height = 625px;
$vkreg_image = '../images/sprite.png';
$vkreg = 627px 416px -627px -416px 32px 32px 671px 625px '../images/sprite.png' 'vkreg';
$yt_name = 'yt';
$yt_x = 40px;
$yt_y = 593px;
$yt_offset_x = -40px;
$yt_offset_y = -593px;
$yt_width = 32px;
$yt_height = 32px;
$yt_total_width = 671px;
$yt_total_height = 625px;
$yt_image = '../images/sprite.png';
$yt = 40px 593px -40px -593px 32px 32px 671px 625px '../images/sprite.png' 'yt';
$ytreg_name = 'ytreg';
$ytreg_x = 395px;
$ytreg_y = 539px;
$ytreg_offset_x = -395px;
$ytreg_offset_y = -539px;
$ytreg_width = 32px;
$ytreg_height = 32px;
$ytreg_total_width = 671px;
$ytreg_total_height = 625px;
$ytreg_image = '../images/sprite.png';
$ytreg = 395px 539px -395px -539px 32px 32px 671px 625px '../images/sprite.png' 'ytreg';
$spritesheet_width = 671px;
$spritesheet_height = 625px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $aadv $ab $adv $adv2 $anx $ap $apm $b2 $bit $c1 $c2 $c3 $c4 $c5 $checked $close $de $de2 $en $en2 $env $fb $fbreg $footer $icon $icon2 $icon3 $icon4 $icon5 $logo $nix $nix2 $object $od $odreg $p $p2 $partners $per $pm $pm2 $promo1 $promo2 $protect1 $protect2 $protect3 $ref1 $ref10 $ref11 $ref2 $ref3 $ref4 $ref8 $right $ru $ru2 $skype $sp $sp2 $tab1 $tab2 $tab3 $tab4 $triangle $vk $vkreg $yt $ytreg;
$spritesheet = 671px 625px '../images/sprite.png' $spritesheet_sprites;

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

// The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.


/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}


// The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
// It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon_home_group = 'icon-home' $icon_home $icon_home_2x;
//
// .icon-home {
// 	retinaSprite($icon_home_group)
// }


spriteBackgroundSize($sprite) {
	background-size $sprite[6] $sprite[7]
}

retinaSprite($retina_group) {
	$normal_sprite = $retina_group[1]
	$retina_sprite = $retina_group[2]
	sprite($normal_sprite)

	@media (-webkit-min-device-pixel-ratio: 2),
				 (min-resolution: 192dpi) {
		spriteImage($retina_sprite)
		spriteBackgroundSize($normal_sprite)
	}
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

// The `retinaSprites` mixin generates a CSS rule and media query for retina groups
// This yields the same output as CSS retina template but can be overridden in Stylus
//
// retinaSprites($retina_groups)

retinaSprites($retina_groups) {
	for $retina_group in $retina_groups {
		$sprite_name = $retina_group[0];
		.{$sprite_name} {
			retinaSprite $retina_group
		}
	}
}
