mixin module__page-flickr(data)
  - var bemClass = 'module__page-flickr'
  .module__page-flickr&attributes(attributes)
    .row.center-c
      a(href="").btn-link View full gallery on our Flickr
        span