.module__scroll-down
  position: absolute 
  bottom 60px 
  width 100% 
  text-align: center
  
  &__str 
    font-size 16px 
    color white !important
    g-bold()
    letter-spacing 6px
    text-transform: uppercase
    cursor pointer
    display: inline-block
    position relative
    width 130px
    text-align: center
    trs()
    +after('')
      width 2px
      height 0px
      background: white
      position: absolute
      display: block
      z-index:  1
      left 64px 
      bottom 6px
      transition all .3s ease-in-out
    &:hover 
      +after('')
        height 18px 
        transition all .3s ease-in-out
        transform translateY(5px)
      .icon
        transform translateY(4px)
    
  .icon_down 
    color white
    width 16px 
    height @width
    margin 27px auto 0 auto
    trs()
    display: block
    
.loaded
  .module__scroll-down
    animation1()
