.module__scroll-down
  position: absolute 
  bottom 60px 
  width 100% 
  text-align: center
  animation1()
  
  &__str 
    font-size 16px 
    color white 
    g-bold()
    letter-spacing 6px
    text-transform: uppercase
    cursor pointer
    display: inline-block
    trs()
    &:hover 
      color $yellow
      trs()
  
  &__str:hover + .icon 
    color $yellow
    trs()
    
  .icon_down 
    color white
    width 15px 
    height @width
    margin 27px auto 0 auto
    trs()
    display: block
