include ../icon/icon

mixin module__scroll-down(data)
  - var bemClass = 'module__scroll-down'
  .module__scroll-down&attributes(attributes)
    a(class=bemClass + '__str' href='#work').jsScroll Scroll down
    +icon('down')
    