include ../modules/injected/injected
include ../modules/page/page

include ../modules/head/head
include ../modules/header/header
include ../modules/footer/footer

include ../modules/heading/heading
include ../modules/page__about/page__about

- var pageId = 0;

doctype html
html(lang=config.lang)

  head
    +head(head.home)

  +page()
    +inject('header')
      +header()

    +inject('page__about')
      +page__about()

    +inject('footer')
      +footer()


