breadCrumbs(breadCrumbs = false)
  if breadCrumbs
    .bread-crumbs
      
      &__item
        font-size 15px
        display: inline-block
        a 
          color dark
          font-size 15px
        &:last-child
          color grey2
          
      &__separator 
        display: inline-block
        margin 0 5px
        color grey2