//- Google fonts
- var GoogleFonts = false
//- Jquery
- var jQuery = true
//- Custom plugins
- var plugins = true
//- Angular lib
- var angular = false
//- Am charts
- var amChart = false
//- Google captcha
- var captcha = false
//- Google Analytics
- var GoogleAnalytics = false