mixin module__page-vid(data)
  - var bemClass = 'module__page-vid'
  .module__page-vid&attributes(attributes)
    .iframe-rapper
      <iframe src="https://player.vimeo.com/video/27753734" width="640" height="360" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>