.str-1
.str-2
  color white
  g-bold()
  text-transform: uppercase
  font-size 16px
  letter-spacing 6px
  
.str-2 
  display: none

.toggle-menu.active
  .str-2 
    display: block
    color black 
    trs()
  .str-1 
    display: none
.header__responsive-menu.active
.menu.active
  display block
.toggle-menu
  background: none
  border none
  outline none
  position relative 
  padding 0px
  cursor pointer
  top 6px
  z-index: 3
  &:hover 
    .sw-topper
      top 5px
    .sw-footer
      top 1px
  
      
.sandwitch
  height 12px
  margin-left 20px
  > span
    width 30px
    height 2px
    background white
    border none
    border-radius 0px
    display block
    position relative
.sw-topper
  top 0px
  transition: transform 0.5s, top 0.2s
  display block 
.sw-bottom 
  top: 3px
  transition: transform 0.5s, top 0.2s
.sw-footer 
  top: 6px
  transition: transform 0.5s, top 0.2s
.toggle-menu.active .sw-topper 
.button__sub.active .sw-topper 
  background black
  top: 5px
  transform: rotate(315deg) 
.toggle-menu.active .sw-bottom 
.button__sub.active .sw-bottom 
  background black
  transform: rotate(225deg) 
.toggle-menu.active .sw-footer 
.button__sub.active .sw-footer 
  background black
  opacity: 0
  top: 0
  transform: rotate(60deg)