mixin sandwitch(data)
  .toggle-menu.jsMobileDropdown.sandwitch&attributes(attributes)
    .row.center
      .menu-name 
        span.str-1 Menu
        span.str-2 Close
      .sandwitch
        span.sw-topper
        span.sw-bottom
        span.sw-footer