.header__responsive-menu.active
.menu.active
  display block
.toggle-menu
  background: none
  border none
  outline none
  display none
  height 40px
  position relative 
  padding 0px
  margin 0px
.sandwitch
  width 31px
  height 21px
  left 0
  right 0
  margin auto
  z-index 200
  > span
    width 31px
    height 4px
    background black
    border none
    border-radius 0px
    display block
    position relative
.sw-topper
  top 5px
  transition: transform 0.5s, top 0.2s
  display block 
.sw-bottom 
  top: 10px
  transition: transform 0.5s, top 0.2s
  transition-delay: 0.2s, 0s 
.sw-footer 
  top: 15px
  transition: all 0.5s
  transition-delay: 0.1s 
.toggle-menu.active .sw-topper 
.button__sub.active .sw-topper 
  background $brown
  top: 13px
  transform: rotate(-45deg) 
.toggle-menu.active .sw-bottom 
.button__sub.active .sw-bottom 
  background $brown
  top: 10px
  transform: rotate(45deg) 
.toggle-menu.active .sw-footer 
.button__sub.active .sw-footer 
  background $brown
  opacity: 0
  top: 0
  transform: rotate(180deg)