.module__about
  background: linear-gradient(to top, #191919 0%,#f2f2f2 0,#f2f2f2 200px,#191919 200px,#191919 100%);
  padding: 140px 0 0px 0;
  
  .module__text__quote
    background: $yellow
    color $dark
