mixin module__about-clients(data)
  - var bemClass = 'module__about-clients'
  section.module__about-clients&attributes(attributes)
    .container
      +module__text-clients()

      div(class=bemClass + '__row').row.wrap.f__row
        -for(var x=1; x < 17; x++)
          .f__col.jsShow
            div(class=bemClass + '__item') 
              +svg({
                name: 'hbo',
                width: 99,
                height: 52
              })

      .row.center-c
        a(href="").btn-link All clients
          span