.module__about-clients
  background: #f2f2f2
  padding 130px 0 90px 0
  
  .module__text_content 
  .module__text__str
    color: #eaeaea;
    
  .module__text p
  .module__text__str-3
    color $dark
    
  &__row 
    width 770px
    margin 70px auto 60px auto
    
  .f__col 
    flex 1
    flex-basis: 170px;
    opacity 0
    
  &__item 
    height 170px
    background: white
    display: flex
    margin-bottom 30px
    
    .icon 
      margin auto
