.module__page-contacts
  background: $dark
  padding 120px 0
  
  &__wrap 
    width 973px 
    margin 0 auto
    margin-bottom 150px
    
  &__str 
    color $yellow
    font-size 16px 
    text-transform: uppercase
    g-bold()
    letter-spacing 5px
    margin 0 0 20px 0
    display: block
    
  &__str-2 
  &__link
    font-size 24px
    g-bold()
    display: block
    color white
    letter-spacing 6px
    text-transform: uppercase
    margin 0 0 36px 0
    line-height 32px
    
  &__link 
    margin 0 0 46px 0
    
  &__soc
    margin 59px 0 0 0
    
  .module__socials__row
    margin-top 30px
    
  &__link
    position: relative 
    display: inline-block
    +after('')
      width 0% 
      height 2px
      background: white
      display block
      position: absolute
      bottom -10px
      transition all .3s ease-in-out
    &:hover 
      color white
      +after('')
        width 100%
        transition all .3s ease-in-out
        
  .module__socials__icon
    background: transparent
    +before('')
      background #252525
      width 100%
      height 100%
      position absolute
      left 0px
      top 0px
      transform: translateY(100%);
  .module__socials.custom
    for i in 1..10 
      .module__socials__icon:nth-child({i}):before
        animation (i * 300)ms share (i + 300)ms ease-out
        animation-fill-mode: forwards;
      .module__socials__icon:nth-child({i}) .icon
        animation (i * 300)ms fade (i + 300)ms ease-out
        animation-fill-mode: forwards;