include ../injected/injected
include ../head/head
include ../scripts/scripts
include ../../helpers/variables


mixin page(data) 
    body.page&attributes(attributes)
      
      +injected: block

      .page__wrapper

        //- Header
        +if('header')
          +use('header')

        main.main

          //- Main page 
          +if('page__main')
            +use('page__main')

          //- Get staretd
          +if('page__get-started')
            +use('page__get-started')

          //- About
          +if('page__about')
            +use('page__about')

          //- Investments
          +if('page__investments')
            +use('page__investments')

          //- News
          +if('page__news')
            +use('page__news')

          //- Affiliate
          +if('page__affiliate')
            +use('page__affiliate')

          //- Representives
          +if('page__representatives')
            +use('page__representatives')

          //- FAQ 
          +if('page__faq')
            +use('page__faq')

          //- Contacts 
          +if('page__contacts')
            +use('page__contacts')

          //- Account 
          +if('page__account')
            +use('page__account')

          +if('page__registration')
            +use('page__registration')

        //- Footer
        +if('footer')
          +use('footer')
  
        //- Noti
        +if('module__notification')
          +use('module__notification')

      +scripts()
      //- +popup()
      //- +notification()