include ../injected/injected
include ../head/head
include ../scripts/scripts
include ../module__preloader/module__preloader
include ../../helpers/variables
include ../icon/icon


mixin page(data) 
    body.page&attributes(attributes).overflow
      
      +injected: block

      .page__wrapper

        //- Header
        <!-- header -->
        +if('header')
          +use('header')
        
        <!-- content -->
        main.main

          //- Main page 
          +if('page__main')
            +use('page__main')

          //- About
          +if('page__about')
            +use('page__about')

          //- Single
          +if('page__single')
            +use('page__single')

          //- Contact
          +if('page__contact')
            +use('page__contact')

          //- Location
          +if('page__location')
            +use('page__location')

        //- Footer
        <!-- footer -->
        +if('footer')
          +use('footer')
  
        //- Noti
        +if('module__notification')
          +use('module__notification')

        //- Preloader
        +module__preloader()

      <!-- scripts -->
      +scripts()
      //- +popup()
      //- +notification()