.module__top-slider
  height 100%
  
  .slide 
  .jsSlick
  .slick-list
  .slick-track
    height 100%
    
  .slide 
    background-size cover
    background-position center
    position: relative
    display flex
    +before('')
      width 100%
      height 100% 
      display block
      background rgba(0,0,0, .65)
      position absolute
      left 0px 
      top 0px
      
  &__title 
    position: relative
    z-index: 1
    margin auto
    text-align: center
    
  &__str
    font-size 16px 
    g-bold()
    color white
    margin 40px 0 0 0
    text-transform: uppercase
    letter-spacing 5px
    animation-delay .3s
    display: none
    opacity: 0
    overflow hidden
    position: relative
    padding 0 4px
    span
      display: block;
      width: 100%;
      height: 3px;
      background-color: $yellow
      position: absolute;
      top: 46%;
      transform: translateX(-104%);
      z-index: -1;
      trs()
    &:hover 
      span
        transform: translateX(-4%);
        trs()
  
  h1 
    display: none
    opacity: 0
    
  .slick-dots
    position: absolute
    right 55px
    top 38%
    z-index 1
    
    li 
      display flex 
      align-items: center;
      flex-direction: row-reverse;
      
      &:nth-child(1)
        .slick-button 
          animation .5s leftToRight 1s ease-out
          animation-fill-mode: forwards;
      &:nth-child(2)
        .slick-button 
          animation .5s leftToRight 1.3s ease-out
          animation-fill-mode: forwards;
      &:nth-child(3)
        .slick-button 
          animation .5s leftToRight 1.6s ease-out
          animation-fill-mode: forwards;
      &:nth-child(4)
        .slick-button 
          animation .5s rightToLeft 1.8s ease-out
          animation-fill-mode: forwards;
      &:nth-child(5)
        .slick-button 
          animation .5s rightToLeft 2s ease-out
          animation-fill-mode: forwards;
          
    .slick-wrapper 
      overflow hidden
      
    .slick-title 
      color $yellow
      font-size 16px
      g-bold()
      text-transform: uppercase
      letter-spacing 5px
      transform translateX(-5px)
      trs-slow()
      opacity 0  
      position: relative 
      top -3px    
    
    .slick-button
      transform translateX(-30px)
      background: white
      width 30px 
      height 10px
      margin 15px 0
      position: relative
      color transparent
      overflow: hidden
      cursor pointer
      +after('')
        background-color: white;
        position absolute 
        width 100% 
        height 110% 
        left 0px 
        top 0px
        margin-left 30px
        trs()
      &:hover
        +after('')
          background-color: $yellow
          trs()
          margin-left 0px
          
    .slick-wrapper:hover + .slick-title
      opacity 1
      transform translateX(-20px)
      
  iframe
    display: block
    
  .slick-active
    h1
      display: block
    .module__top-slider__str
      display: inline-block
    .slick-button
      +after('')
        background-color: $yellow
        trs()
        margin-left 0px
         
  .slick-active &__str 
    display: block
    

.loaded
  .slick-active .slick-button
    +after('')
      animation btn 8s ease-in-out
      animation-fill-mode: forwards;
  .slick-dots
    animation1()
  .module__top-slider
    .slide
      &:first-child
        .module__top-slider__title
          animation2()
          
.parallax .slide
  position: relative;
  top: -40%
  

@keyframes btn 
  from 
    margin-left 0px
  to 
    margin-left 30px
  