mixin module__insta(data)
  - var bemClass = 'module__insta'
  .module__insta&attributes(attributes)
    .container 
      span(class=bemClass + '__str') Instagramm
      span(class=bemClass + '__str-2') #overallmurals.

      div(class=bemClass + '__row')

        .jsSlick2
          .slide
            .slide-wrapper
              a(href="instagram.com").img
                .slider-link
                  img(src="assets/images/work/2.jpg", alt="")
                span.slider-title View
            .slide-wrapper
              a(href="instagram.com").img
                .slider-link
                  img(src="assets/images/work/3.jpg", alt="")
                span.slider-title View
            .slide-wrapper
              a(href="instagram.com").img
                .slider-link
                  img(src="assets/images/work/4.jpg", alt="")
                span.slider-title View
            .slide-wrapper
              a(href="instagram.com").img
                .slider-link
                  img(src="assets/images/work/5.jpg", alt="")
                span.slider-title View
          .slide
            .slide-wrapper
              a(href="instagram.com").img
                .slider-link
                  img(src="assets/images/work/5.jpg", alt="")
                span.slider-title View
            .slide-wrapper
              a(href="instagram.com").img
                .slider-link
                  img(src="assets/images/work/4.jpg", alt="")
                span.slider-title View
            .slide-wrapper
              a(href="instagram.com").img
                .slider-link
                  img(src="assets/images/work/3.jpg", alt="")
                span.slider-title View
            .slide-wrapper
              a(href="instagram.com").img
                .slider-link
                  img(src="assets/images/work/2.jpg", alt="")
                span.slider-title View

    