// Media queries, example +width-range(10em, 20em)
// +width-max($container-width)
 

// iPadi pro 
// +width-max(1366px)


// iPad 
// +width-max(900px)


// iPad mini
// +width-max(768px)


// iPohne 6+
// +width-max(414px)


// iPhone 6
// +width-max(375px)


// iPhone 4 5 and 4s 5S
// +width-max(320px)
