// Media queries, example +width-range(10em, 20em)

// iPadi pro 
// +width-max(1366px)

+width-max(1280px)
  .container
    width 100%
    padding 0 20px
  .module__share
    display: none

+width-max(1200px)
  .module__insta__row
    width 100%
  .module__insta .img
    width 100%
    height auto
  .module__insta img
    width 100% 
    height auto
  .module__insta .slider-link
    position: relative
  .module__insta .slide.slick-current .slide-wrapper .img
    animation: textFade3 .3s ease-out !important;
    width 100% !important

// iPad 
+width-max(900px)
  .module__insta__str
  .module__text__str
    display: none
  .footer__resp
  .footer__row
    flex-wrap wrap
  .header
    padding-top 20px
  .module__logo__link
    position: relative 
    top -10px
    


// iPad mini
+width-max(768px)
  .module__top-slider .slick-dots
    right 20px
  h1 
    font-size 21px
    padding 0 20px
    letter-spacing 5px
  .module__text__col
    width 100%
  .module__insta .slide-wrapper
    width 50%
  .module__insta .slide
    flex-wrap wrap
  .slick-title 
    display: none
  .module__work
    padding 140px 0 70px 0
  .module__insta
    padding 45px 0 66px 0
  .module__insta__row
    padding 85px auto 0 auto
  .footer__row
    padding 75px 0 25px 0
  .module__work 
    padding 75px 0 70px 0
  .module__work__row
    margin-top 45px
  .footer__bottom
    padding 18px 0 60px 0
  .footer__str, .footer__str-2
    letter-spacing 4px
  .module__insta__row
    margin 100px auto 0 auto
  .page_mobile-menu .module__logo, 
  .page_mobile-menu .toggle-menu
    height 80px


// iPohne 6+
+width-max(414px)
  .footer__col
  .module__subscribe__form
  .module__share__icons
  .module__subscribe
  .module__socials__row
    width 100%
  .module__insta__str-2
    font-size 18px
  input, textarea
    font-size 14px


// iPhone 6
// +width-max(375px)


// iPhone 4 5 and 4s 5S
// +width-max(320px)
