// Media queries, example +width-range(10em, 20em)

// iPadi pro 
// +width-max(1366px)

+width-max(1280px)
  .container
    width 100%
    padding 0 50px
  .module__share
    display: none
    

+width-max(1270px)
  .module__insta__row
    width 100%
  .module__insta .img
    height auto
    
+width-max(1181px)
  .module__socials
    width: 50%
  .module__subscribe
    width: 50%;
    padding-left: 14px;

+width-max(1024px)
  .jsShow
    opacity: 1
  .jsShow.custom
  .jsShow.custom .slide-wrapper
    animation none !important
    opacity 1 !important

+width-max(1000px)
  .module__insta__str
  .module__text__str
    display: none

+width-max(973px)
  .module__page-img__items
    width 100%
    padding-top 0px
  .module__page-form__wrap
  .module__page-contacts__wrap
    width 100%
    padding 0 20px
  .module__page-contacts__wrap
    margin-bottom 0px
    flex-wrap wrap
    .col__50 
      width 100%
    .module__socials__row
    .module__socials
      width 100%
  .module__page-form__wrap
    top auto
  .module__page-contacts
    padding 70px 0 0 0
  .module__page-form
    background: white
    padding 70px 0
  .module__page-form__str
    display: none
    
// iPad 
+width-max(900px)
  .module__insta__str
  .module__text__str
    display: none
  .footer__resp
  .footer__row
    flex-wrap wrap
  .header
    padding-top 20px
  .module__logo__link
    position: relative 
    top -10px
    

+width-max(860px)
  .module__socials
  .module__subscribe
    width 100% 
    padding 0px
  .module__page-nav__link
  .module__page-nav
    height 100px
  .module__page-nav
    padding 0 20px
  .module__page-slider__nav
    width 100%
    padding 0 20px
  .module__page-slider .icon
    width 14px
    

+width-max(770px)
  .module__share__link
    width 100px 
    height 100px
    margin 20px !important
  .module__share__icons
    align-content center
    align-items center
    justify-content center

// iPad mini
+width-max(768px)
  .container
    padding 0 20px
  .module__top-slider .slick-dots
    right 20px
  h1 
    font-size 21px
    padding 0 20px
    letter-spacing 5px
  .module__text__col
    width 100%
  .module__insta .slide-wrapper
    width 50%
  .module__insta .slide
    flex-wrap wrap
  .slick-title 
    display: none
  .module__work
    padding 140px 0 70px 0
  .module__insta
    padding 45px 0 66px 0
  .module__insta__row
    padding 85px auto 0 auto
  .footer__row
    padding 75px 0 25px 0
  .module__work 
  .module__page-content
  .module__page-contacts
    padding 75px 0 70px 0
  .module__work__row
    margin-top 45px
  .footer__bottom
    padding 18px 0 60px 0
  .footer__str, .footer__str-2
    letter-spacing 4px
  .module__insta__row
    margin 100px auto 0 auto
  .page_mobile-menu .module__logo, 
  .page_mobile-menu .toggle-menu
    height 80px
  .module__page-soc
    padding 40px 0
  .module__page-flickr
    padding 10px 0 40px 0
    

+width-max(500px)
  .btn-send 
    width auto
  .module__page-contacts__str-2, .module__page-contacts__link
    font-size 17px
  .module__share__link
    width 60px 
    height 60px
    margin 10px !important
  .module__page-form__form
    > .row 
      flex-wrap wrap
    .col__50 
      width 100%
      margin 0px
  .module__page-form .form__label
    margin-bottom 20px
  .module__page-form__form
    margin-top 25px
  .module__socials__icon
    margin 0 5px 5px 0
  .module__socials__row
    align-items center
    margin 0 0 30px 0


// iPohne 6+
+width-max(414px)
  .module__page-soc
    .module__page-soc__icon
      width 44px 
      height 44px
    .icon 
      width 15px 
      height 15px
  .footer__col
  .module__subscribe__form
  .module__share__icons
  .module__subscribe
  .module__socials__row
    width 100%
  .module__insta__str-2
    font-size 18px
  input, textarea
    font-size 14px


// iPhone 6
// +width-max(375px)


// iPhone 4 5 and 4s 5S
// +width-max(320px)
