zozo(zozo = false)
  if zozo
    @import 'plugins/zozo.accordion.min.css'
sprites(sprites = false)
  if sprites
    @import 'classesSprite.min.css'
royal-slider(royal-slider = false)
  if royal-slider
    @import 'plugins/royalslider.css'
    @import 'plugins/rs-minimal-white.css'
animate-css(animate = false)
  if animate
    @import 'plugins/animate.css'
bxslider(bxslider = false)
  if bxslider
    @import 'plugins/bxslider.css'
remodal(remodal = false)
  if remodal
    @import 'plugins/remodal-default-theme.css'
    @import 'plugins/remodal.css'
formstyler(formstyler = false)
  if formstyler
    @import 'plugins/jquery.formstyler.css'
slick(slick = false)
  if slick
    @import 'plugins/slick.css'
customScrollbar(customScrollbar = false)
  if customScrollbar
    @import 'plugins/CustomScrollbar.css'
lightslider(lightslider = false)
  if lightslider
    @import 'plugins/lightslider.min.css'
lightgallery(lightgallery = false)
  if lightgallery
    @import 'plugins/lightgallery.min.css'
simpleLightBox(simpleLightBox = false)
  if simpleLightBox
    @import 'plugins/simplelightbox.min.css'