// Import plugins
animate-css(true)
bxslider(false)
slick(true)
customScrollbar(true)
simpleLightBox(false)
formstyler(false)
remodal(false)
lightslider(false)
lightgallery(false)


// Css custom components
customCheckbox(true)
paybuttons(false)
bannerLink(false)
charts(false)
pagination(false)
FAQcontainer(false)
customScrolCss(true)
readCrumbs(false)
responsiveMenu(false)
responsiveIframe(true)


$IMG-PATH = '../images/background/'
// Now you can use the function image-url
// .element
//   background-image image-url('logo.png')

// And the font-url
$FONT-PATH = '../fonts/'
font-face('GiorgioSans-Regular-Web', 'GiorgioSans-Regular-Web', 'normal', 'normal')
font-face('GiorgioSans-Bold-Web', 'GiorgioSans-Bold-Web', 'normal', 'normal')
font-face('pfdintextpro-bold-webfont', 'pfdintextpro-bold-webfont', 'normal', 'normal')
font-face('pfdintextpro-light-webfont', 'pfdintextpro-light-webfont', 'normal', 'normal')
font-face('pfdintextpro-medium-webfont', 'pfdintextpro-medium-webfont', 'normal', 'normal')
bold()
  font-family 'pfdintextpro-bold-webfont'
g-regular()
  font-family 'GiorgioSans-Regular-Web'
g-bold()
  font-family 'GiorgioSans-Bold-Web'
light()
  font-family 'pfdintextpro-light-webfont'
med()
  font-family 'pfdintextpro-medium-webfont'
  
// Bdoy font 
$body-font       = 'pfdintextpro-light-webfont'
$body-min-width  = 320px
$body-max-width  = 100%
$placeholderFont = 'pfdintextpro-light-webfont';


// Container-width 
$container-width   = 1160px
$container-padding = 0 0px


// Link - var
$link-size                  = 14px
$link-color                 = $text
$link-hover-color           = black
$link-text-docoration       = none
$link-text-docoration-hover = none


// Text - var
$text-size        = 16px
$text-color       = $text
$text-padding     = 18px
$text-line-height = 24px


// Span - var
$span-size  = 14px
$span-color = $text


// Heading - var
$h1      = 60px
$h2      = 24px
$h3      = 20px
$h4      = 18px
$h5      = 16px
$h6      = 14px
$h-color = $blue
$h-font  = false


// Col
$col-margin = 30px


// Label - input
$input-size           = 16px
$input-color          = white
$input-background     = transparent
$input-border-radius  = 0
$input-height         = 67px
$input-margin         = 7px 0 0 0 
$label-margin         = 0 0 20px 0
$label-color          = white 
$label-size           = 11px
$input-padding        = 10px 0px
$input-border-color   = $border
$place-holder-default = grey2
input-border()
  trs()
  &:focus 
    border-color $dark-aqua
    color white
    trs()


// Banner color link 
$banner-link-color = $dark


// Buttons
$button-radius                 = 3px
$button-height                 = 30px
$button-padding                = 0 30px
$button-size                   = 11px
$button-text-transform         = uppercase
$button-color                  = white
$button-border                 = $red
$button-background             = $red
$button-hover-color            = white
$button-border-hover-color     = $button-hover
$button-background-hover-color = $button-hover
// Button xl
$button-lg-width       = 240px
$button-lg-height      = 48px
$button-lg-font-size   = 14px
$button-lg-font-weight = normal 
$button-lg-padding     = 0px
// Button xs
$button-md-width       = 200px
$button-md-height      = 40px
$button-md-font-size   = 14px
$button-md-font-weight = normal
$button-md-padding     = 0px


// Box sizing
*
  box-sizing border-box


// Wrapper
.container 
  width $container-width
  margin 0 auto
  padding $container-padding
  position relative


// Native - Colors
$brown         =  #e0914c
$dark          =  #191919
$dark2         =  #2b2b2b
$yellow        =  #fbae11
$blue          =  #0052b4
$aqua          =  #61dfdd
$dark-aqua     =  #025958
$soft-aqua     =  #518fa6
$orange        =  #f17300
$green         =  #408c09
$purple        =  purple 
$pink          =  pink
$red           =  #be1b2e
$milk          =  #e5e1d0
$gold          =  #d09700
$soft          =  #f1f0ed
$grey          =  #a6a6a6
$grey2         =  #646669
$grey3         =  #6f6f6f


$text          =  #605f60
$border        =  #d1d1d1
$border-grey   =  #484848
$dash-border   =  #ececec


$hover         =  $gold
$button-hover  =  #b31629


// Input colors - readonly - disabled - succes - error
$BGreadonly      =  #f9f8f6
$BGdisabled      =  #f9f8f6
$border-disabled =  #d1d1d1
$Dcolor          =  #9f9f9f
$readonly        =  $grey2
$disabled        =  $milk
$success         =  #4ac3c1
$error           =  #ed5565
$information     =  #427c92
$warning         =  #cdb933


// Color class
.white
  color white
.blue 
  color $blue
.red 
  color $red
.green 
  color $green
.yellow 
  color $yellow


// Js class
.jsHidden 
  display none
.jsVisible     
  display block
.jsContFlex.jsDisplayFlex
  display flex !important
.jsContFlex 
  display none !important
.jsTabDash
.jsTab
  cursor pointer
.jsCont
.jsContDash 
  display none
.jsCont.jsActive 
.jsCont2.jsActive 
.jsContDash.jsActive 
  display block
.jsNone
  display none
.jsToggle.jsActive
  .jsFade
    display block
  

decor()
  text-decoration underline
  &:hover 
    text-decoration none
trs()
  transition ease-in-out .2s
trs-slow()
  transition ease-in-out .4s
hover()
  &:hover
    color green
    text-decoration: underline
static()
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
vam($top = 0px, $margin = 0, $position = relative, $display = inline-block, $vertical-align = middle)
  if $display
    display $display
  if $vertical-align
    vertical-align $vertical-align
  if $position
    position $position
  if $top 
    top $top
  if $margin 
    margin $margin
img()
  display block
img-width()
  max-width 100%
  width 100%
  height auto

  
// Disabled input
.button_loader 
  background-image url('../images/loader/loader.gif')
  background-position: center
  background-repeat: no-repeat;
  color transparent !important
  &:hover 
    +before()
      display: none

button:disabled
  background-color : $BGdisabled
  border-color     : $BGdisabled
  color            : $text
  cursor           : not-allowed
  &:hover 
    background-color : $BGdisabled
    border-color     : $BGdisabled
    color            : $text
      
input[type='text']:read-only
  box-shadow       : none !important
  background-color : $BGreadonly
  color            : $readonly
  border           : 1px solid $BGreadonly
  &:focus
    border-color   : $BGreadonly
    color          : $readonly
    
input[type='button']:disabled,
input[type='checkbox']:disabled,
select:disabled
  background       : $BGdisabled
  border           : 1px solid $border-disabled
  color            : $Dcolor
  cursor           : not-allowed
  
input[type='text']:disabled,
input[type='submit']:disabled,
.select_disabled,
.button_disabled
  background       : $BGdisabled
  border           : 1px solid $border-disabled
  color            : $Dcolor
  cursor           : not-allowed
.button_disabled:hover
  background       : $BGdisabled !important
  border           : 1px solid $border-disabled !important
  color            : $Dcolor !important
  cursor           : not-allowed !important
.input_error
  //box-shadow : inset -2px 0px 0px 0px $error !important
  color            : $error !important
  border-color     : $error !important
.input_success 
  //box-shadow : inset -2px 0px 0px 0px $success !important
  color            : $success !important
  border-color     : $success !important
  

// Input reset 
input[type='text']
textarea
select
  -webkit-appearance: none;
  border-radius $input-border-radius
  appearance none
input
textarea
  border-radius $input-border-radius
  margin 0px 
  border none
  font-family $placeholderFont
  background: $input-background
  padding $input-padding
  color $input-color
  font-size $input-size
  g-bold()
  text-transform: uppercase
  letter-spacing 5px
  input-border()
select
  background: $input-background
  margin 0px 
  border none
  font-family $placeholderFont
  color $input-color
  padding $input-padding
  font-size $input-size
  input-border()


// Default input
.form__label
  color $label-color
  font-size $label-size
  margin $label-margin
.form__label
.form__area 
  display block
  width 100%
.form__input
.form__select
  display block
  width 100%
  height $input-height
  margin $input-margin
  input-border()
.form__area
  margin $input-margin
.dash__label
  color white
  font-size $label-size
  margin $label-margin
  display block
.dash__input
  display block
  width 100%
  height $input-height
  margin $input-margin
  border 1px solid border-grey
  background #232323
  color grey
  &:focus
    border-color white
    color white
.form__link 
  font-size 12px
  display: block 
  line-height 20px 
  margin 0px !important
// .form__tooltip
//   display: block
//   color grey
//   font-size 12px
//   line-height 20px
//   margin 8px 0 0 0
  
    
// Custom checkbox
customCheckbox(customCheckbox = false)
  if customCheckbox
    input[type='checkbox']
    input[type='radio']
      display none
    .label__checkbox
    .label__radio
    .label__switch
      margin 8px 0 0 0 
      color black
      font-size 14px 
      display flex
      line-height 20px
      cursor pointer
      align-items center
    // Switch 
    .label__switch i 
      width 40px
      height 20px
      background: $dash-border
      display block
      position relative
      cursor pointer
      border 1px solid $dash-border
      margin-right 10px
      +after()
        width 18px 
        height @width
        background: $green
        display: block
        trs()
    // Radio
    .label__radio i 
      width 19px
      height @width
      background: white
      border-radius (50%)
      display block
      position relative
      cursor pointer
      border 1px solid $dash-border
      margin-right 10px
      trs()
      +after('')
        trs()
        width 5px 
        height @width
        background: black
        display: block
        margin 6px
        border-radius (50%)
        display: none
    // Checkbox
    .label__checkbox i 
      width 24px 
      height @width
      display inline-block
      position relative
      border-radius (0px)
      background: white
      border 1px solid $dash-border
      cursor pointer
      margin-right 10px
      trs()
      +after('')
        position: relative
        left 8px
        top 3px
        opacity 0
        margin-top -20px
        display block
        border-bottom 1px solid white 
        border-right 1px solid white
        width 6px 
        height 10px
        trs()
    .label__checkbox  
    .label__radio
      &:hover i 
        border-color $dark-aqua
        trs()
    // Custom checkbox
    .label__checkbox .input__checkbox:checked + i
      background: $green
      border-color $green
      +after()
        opacity 1
        trs()
        transform rotateZ(40deg)
        margin-top 0px
     // Custom radio   
    .label__radio .input__radio:checked + i
      background: $yellow
      border-color black
      +after()
        display: block
        trs()
    // Custom switch
    .label__switch .input__switch:checked + i
      +after()
        opacity 1
        trs()
        margin-top 0px
        margin-left 20px
    

// Pay radio button
paybuttons(paybuttons = false)
  if paybuttons
    .payment__radio:checked + i 
      +before()
        background transparent
        trs()
    .pay-1
      +after('')
        // retinaSprite($sprite_picon_group)
        // sprite($sprite-picon-1)
        display block
    .pay-2
      +after('')
        // retinaSprite($sprite_picon_2_group)
        // sprite($sprite-picon-2)
        display block
    .pay-3
      +after('')
        // retinaSprite($sprite_picon_3_group)
        // sprite($sprite-picon-3)
        display block
    .pay-4
      +after('')
        // retinaSprite($sprite_picon_4_group)
        // sprite($sprite-picon-4)
        display block
    .pay-5
      +after('')
        // retinaSprite($sprite_picon_5_group)
        // sprite($sprite-picon-4)
        display block
    .payment__label
      margin 0 15px 0 0
      i 
        cursor pointer
        display block
        position relative
        +before('')
          trs()
          width 100%
          height 100%
          background: rgba(35, 35, 35, 0.68);
          position absolute 
          top 0px 
          left 0px
  

// Placeholder color
::-webkit-input-placeholder {color:$place-holder-default;}
::-moz-placeholder          {color:$place-holder-default;}/* Firefox 19+ */
:-moz-placeholder           {color:$place-holder-default;}/* Firefox 18- */
:-ms-input-placeholder      {color:$place-holder-default;}
  

// Buttons
button 
  border none 
  vertical-align middle
  cursor pointer 
  border none
  outline none
  background transparent
.button
  white-space: nowrap;
  background-color $button-background
  border-radius $button-radius
  height $button-height
  line-height $button-height
  padding $button-padding
  display inline-block
  font-size $button-size
  text-align: center
  cursor pointer
  color $button-color
  border 1px solid $button-border
  -webkit-appearance: none;
  text-decoration none
  text-transform $button-text-transform
  trs()
  &:hover 
    background-color $button-background-hover-color
    color $button-hover-color
    border-color $button-border-hover-color
    trs()
.button_lg
  width $button-lg-width
  height $button-lg-height
  line-height $button-lg-height
  font-size $button-lg-font-size
  font-weight $button-lg-font-weight
  padding $button-lg-padding
.button_md
  width $button-md-width
  height $button-md-height
  line-height $button-md-height
  font-size $button-md-font-size
  font-weight $button-md-font-weight
  padding $button-md-padding
.button_white
  // border-color white
  background-color white
  border-color $brown
.button_red 
  // border-color $red 
  background: $red
  // color $red
.button_green 
  // border-color $green
  background: $green
  // color $green
.button_blue 
  border-color $blue
  background: $blue
  color white
.button_yellow 
  // border-color $yellow 
  background: $yellow 
  // color $yellow
.button_orange 
  // border-color $orange
  background: $orange
  // color $orange
.button_grey
  // border-color $grey 
  background: $grey 
  // color $dark
.button_tr
  border 1px solid $red
  background: transparent
  color $red
  &:hover 
    background: $red 
    color white


// col 
for i in (1..100)
  .col__{i}
    width (i)%
    position: relative
.col_margin
  margin-right $col-margin
.col_margin-20
  margin-right 20px
.col_margin-30
  margin-right 30px
  

// Typography 
for i in (12..36)
  .str-{i}
    font-size (i)px


// Alignment
.ta-center
  text-align: center
.ta-left
  text-align: left
.ta-right
  text-align: right


// H heading 
h1 
  font-size $h1
  color $h-color
  semi()
h2 
  font-size $h2
  color $h-color
h3 
  font-size $h3
  color $h-color
h4 
  font-size $h4
  color $h-color
h5 
  font-size $h5
  color $h-color
h6 
  font-size $h6
  color $h-color
  

// Elements
menu 
  padding 0px
  margin 0px
span 
  display inline-block
  font-size $span-size
  color $span-color
a 
  text-decoration $link-text-docoration
  display inline-block
  font-size $link-size
  color $link-color
  &:hover 
    color $link-hover-color
    text-decoration $link-text-docoration-hover
h1, h2, h3, h4, h5, h6 
  font-weight normal
.text 
  font-size 16px
  line-height 23px   
p
  letter-spacing 1px
  font-size $text-size
  color $text-color  
  padding-bottom $text-padding
  line-height $text-line-height

    
// Banner-link
bannerLink(bannerLink = false)
  if bannerLink
    .banner__link 
      color $banner-link-color
      font-size 14px
      display: block
    

// Charts 
a[href='http://www.amcharts.com/javascript-charts/']
  display none !important
  

// Table reset 
th 
  font-weight normal


// Custom scrollbar
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
  background: $yellow
  width 10px 
  border-radius 0px
.mCSB_scrollTools .mCSB_draggerRail
  background-color: black;
  width 10px
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar
  background-color: #fff; 
  background-color: hover;
.mCSB_scrollTools .mCSB_draggerRail
  border-radius 0px
.mCSB_scrollTools
  width 10px
  

// FAQ container
FAQcontainer(FAQcontainer = false)
  if FAQcontainer 
    .section__content
      p 
        font-size 15px 
        span 
          color red
          font-size 12px 
          position relative
          top -5px
      p  a 
        color gold
        font-size 15px
      p  a 
        margin-right 3px
      ol li
        position: relative;
        font-size: 15px;
        line-height: 25px;
        padding-left: 18px !important;
        > ul
          padding-left: 50px;
        > ol 
          margin-top 25px
          padding-left 15px
        > li 
          padding-left 10px
      ul
        padding-left 20px
        margin-bottom: 20px;
        list-style-type: disc;
        li 
          line-height: 25px;
          font-size: 15px;
          padding-left: 18px !important;
          ul
            padding-left 17px
            margin 0px
            list-style circle
      ol 
        padding-left 18px
        padding-bottom 15px
        p  
          margin 0 0 15px 0 
          padding 0 0 10px 0
          span 
            color red
            font-size 9px
            position relative 
            top -5px
      .num__items_roman
        list-style-type: lower-roman !important;
        margin-bottom 20px
      h1
        font-size 32px 
      h2
        font-size 24px
      h3
        font-size 20px
      h4
        font-size 18px
      h5
        font-size 16px
      h6
        font-size 14px
      h1, h2, h3, h4, h5, h6
        color dark
        margin 0 0 16px 0
        padding 0px
      .t-title 
        font-size: 24px;
        margin-bottom: 20px;
        color dark
    

// Pagination
pagination(pagination = false)
  if pagination
    .pagination
      &-wrapper 
        padding 20px 0 0 0
      ul
        align-items: center;
        display flex
      li
        margin-right 10px
        width 45px 
        height 45px
        line-height @height
        text-align: center
      a
        width 45px 
        height @width
        border 1px solid black2
        line-height @height
        text-align: center
        color black2
        border-radius(50%)
        &:hover 
          border-color red
      .active 
        a 
          background: red
          border-color red 
          color white
      .previous_page.disabled
        opacity 0.5
        background: grey2
        border-color black !important
        a 
          cursor default
      .next_page.disabled
        opacity 0.5
        background: grey2
        border-color black !important
        a 
          cursor default
      .previous_page
      .next_page
        height 45px 
        width auto
        line-height @height
        border 1px solid black2
        padding 0 20px
        text-align: center
        align-items: center;
        justify-content: center;
        opacity 1
        border-radius(30px)
        &:hover 
          border-color red
        a
          border none
      .previous_page
        display flex
        margin-left auto
        &:hover a 
          background: none
          border none
        &:before 
          content ''
          // sprite($sprite-prev-arrow)
          display block
          margin 0 10px 0 0 
      .next_page
        margin-right 0px !important
        display flex
        &:hover a 
          background: none
          border none
        &:after 
          content ''
          // sprite($sprite-next-arrow)
          display block
          margin 0 0px 0 10px
 

 // Bread
breadCrumbs(breadCrumbs = false)
  if breadCrumbs
    .bread-crumbs
      
      &__item
        font-size 15px
        display: inline-block
        
        a 
          color dark
          font-size 15px
          
        &:last-child
          color grey2
          
      &__separator 
        display: inline-block
        margin 0 5px
        color grey2 
        

// Responsive iframe
responsiveIframe(responsiveIframe = false)
  if responsiveIframe
    .iframe-rapper
      position relative
      padding-bottom 56.25% /* 16:9 */
      padding-top 25px
      height 0
    .iframe-rapper iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%    
      

// Sandwitch and responsive menu
responsiveMenu(responsiveMenu = false)
  if responsiveMenu
    .header__responsive-menu.active
    .menu.active
      display block
    .toggle-menu
      background: none
      border none
      outline none
      display none
      height 40px
      position relative 
      padding 0px
      margin 0px
    .sandwitch
      width 31px
      height 31px
      left 0
      right 0
      margin auto
      z-index 200
      > span
        width 31px
        height 4px
        background white
        border none
        border-radius 0px
        display block
        position relative
    .sw-topper
      top 5px
      transition: transform 0.5s, top 0.2s
      display block 
    .sw-bottom 
      top: 10px
      transition: transform 0.5s, top 0.2s
      transition-delay: 0.2s, 0s 
    .sw-footer 
      top: 15px
      transition: all 0.5s
      transition-delay: 0.1s 
    .toggle-menu.active .sw-topper 
    .button__sub.active .sw-topper 
      background black
      top: 13px
      transform: rotate(-45deg) 
    .toggle-menu.active .sw-bottom 
    .button__sub.active .sw-bottom 
      background black
      top: 10px
      transform: rotate(45deg) 
    .toggle-menu.active .sw-footer 
    .button__sub.active .sw-footer 
      background black
      opacity: 0
      top: 0
      transform: rotate(180deg)    
