.module__text
  position: relative
  
  &__str 
    font-size 150px 
    g-bold()
    color #2b2b2b
    text-transform: uppercase
    letter-spacing 40px
    text-align: center
    display: block
    width 100%
    position: absolute
    top 30px
    opacity: 0
    padding-left 36px
    height 144px
    line-height: 144px;
    
  &__str-2
    color $yellow
    font-size 16px
    text-transform: uppercase
    g-bold()
    letter-spacing 5px
    display: block
    margin 0 0 23px 0
    opacity 0
    
  &__str-3
    color white 
    g-bold()
    text-transform: uppercase
    font-size 30px
    letter-spacing 10px
    display: block
    opacity 0
    +after('')
      width 0px 
      height 2px 
      background-color $yellow
      display: block
      margin 25px 0 24px 0
    
  p 
    color white
    opacity 0
    
  &__col 
    width 570px
    margin 0 auto
    position: relative
    
  &_content &__str-3 
    color $dark
    
  &_content p 
    color $dark
    
  &_content &__str 
    color #eaeaea
    
  &__quote 
    background: $dark 
    color white
    font-size 16px 
    med()
    padding 10px 30px
    display inline-block
    margin 0 0 1px 0
    
  &__quote-wrap
    margin-top 40px   
    
    
.jsText.custom
  .module__text__str
    textFade()
  p
    textFade2()
    
  .module__text__str-2
  .module__text__str-3
    textFade3()
    
  .module__text__str-3:after 
    width 30px 
    transition all 1s